
<button (click)="modalVisible = true" class="btn btn-primary">
    Abrir modal
</button>

<h2>Empleados Presentes</h2>
<app-empleados-lista (eliminarEmpleado)="eliminarEmpleado($event, 'empleadosPresentes')" [data]="empleadosPresentes" />

<div #myDiv class="m-5"></div>

//$event representa los datos que envie eventEmitter desde el hijo mediante la funcion emit

<h2>Empleados Ausentes</h2>
<app-empleados-lista (eliminarEmpleado)="eliminarEmpleado($event, 'empleadosAusentes')" [data]="empleadosAusentes" />

<app-my-modal [visible]="modalVisible" (cerrarModal)="modalVisible = false" />
